/* Fuentes tipográficas*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Diseño general */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

/* Encabezado */
header {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #012340;
    background-color: bisque;
    background-image: url(resourses/header4.webp);
    background-position: center;
    background-size: cover;

}
header > h1 {
    
    font-size: 3em;
    font-family: 'Patua One', cursive;
    margin: 0px;
    text-align: center;
}
header > h2 {
    
    font-size: 1.5em;
    margin: 0px;
    text-align: center;
}

/*Navegación*/
nav > ul {
    margin: 0;
    background-color: #0367A6;
    text-align: center;
}
nav > ul > li {
    
    display: inline-block;
    padding: 10px 20px;
}
nav > ul > li:hover {
    background-color: #F26D6D;
}
nav > ul > li > a {
    color: #ffffff;
    text-decoration: none;
}

/*Notificación*/
#notificación {
    margin: 0;
    padding: 12px;
    text-align: center;
    background-color: gold;
    font-size: 1.3em;
    font-weight: bold;
}

/* Cuerpo principal */
main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2D4AE;
}

/* Sección Catalogo */
section#catalogo {
    text-align: center;
}

/* Articulos */
article {
    width: 24%;
    max-width: 300px;
    min-width: 200px;
    display: inline-block;
    margin: 8px;
    border: 4px #dad9d9 solid;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
}
.imgProduct {
    width: 100%;
}
.PrecioOriginal {
    font-size: 1.5em;
    color: #F29863;
    text-decoration: line-through;
}
.precioDescuento {
    font-size: 1.5em;
    color: #012340;
    font-weight: bold;
}
.precioFinal {
    font-size: 2em;
    color: brown;
    font-weight: bold;
}
article > p {
    line-height: 180%;
}

/*Pie de pagina*/
.copyright {
    margin: 2em;
}
